<div [@routerTransition]>
    <app-page-header [heading]="'Pedidos'" [icon]="'fa-desktop'"></app-page-header>

    <div class="row">
        <div class="col">
            <table class="table">
                <thead class="thead-moob">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td><button class="btn btn-link"><i class="fa fa-fw fa-edit"></i></button>
                            <button class="btn btn-link"><i class="fa fa-fw fa-trash"></i></button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


</div>